.smallMobileHide{
    display: none;
}

header nav img{
    /*margin-right: auto;*/
    width: 40%;
}

header nav {
    padding: 10px 2%;
}

header nav a {
    margin-right: 4px;
}

header nav div#navBtn {
    margin-left: 2%;
}

div#landingLeft h1 {
    font-size: 34px;
}

div#services_wrapper{
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 381px;
}

div#services_wrapper div.service_box{
    box-shadow: 0px 5px 0px #0eb3e1dc;
}

div#landingRight {
    margin-left: 0px;
    min-height: 330px;
}

div#landingRight .phoneBG{
    position: absolute;
    bottom: 0px;
    width: 100%;
    left: 0;
}

section#reviews{
    flex-wrap: wrap;
    justify-content: left;
    padding-top: 0px;
}

section#reviews div.reviewHeading{
    padding-right: 0px;
}

section#reviews div.reviewHeading h2{
    margin-top: 0px;
}

section#reviews div.reviewText {
    width: 90%;
    max-width: 900px;
    text-align: left;
    color: rgba(77, 77, 77, 1);
    margin-left: 20px;
    margin-top: 20px;
}

footer div#footer_flex > ul#footerWrp{
    display: block;
}

footer div#footer_flex ul .footerSoc:last-child {
    margin-left: 0px;
}
