.mobileHide{
    display: none;
}

header nav a {
    font-size: 16px;
}

div#landing{
    flex-wrap: wrap-reverse;
    justify-content: center;
}

div#landingRight{
    width: 100%;
    min-height: 360px;
    background-position-y: top;
    background-position-x: center;
}

div#landingRight .phoneBG #phoneBG_linkWrap > a{
    padding: 0px;
    background-color: transparent;
    color: white;
    box-shadow: none;
    text-decoration: underline;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px #0eb3e1;
    font-size: 20px;
}

div#landingRight .phoneBG #phoneBG_linkWrap > a img{
    width: 35px;
}

div#landingLeft{
    min-width: 200px;
    text-align: left;
    width: 90%;
}

div.contact_us #contact_form{
    display: none;
}

div.contact_us #quote_form{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    display: inline-block;
}

div.contact_us .contact_pic{

    grid-column-start: 1;
    grid-column-end: 3;
}

div.contact_us .contact_pic:first-child{
    grid-row-start: 2;
    grid-row-end: 2;
}

div.contact_us .contact_pic:nth-child(2){
    grid-row-start: 3;
    grid-row-end: 3;
}

section > h1{
    font-size: 32px;
    width: auto;
}

section#reviews div.reviewText {
    width: 100%;
    margin-left: 0px;
}

div.contact_us picture img {
    width: 140%;
}

footer div#footer_flex{
    padding: 25px 10px;
}

footer div#footer_flex ul li img {
    width: 20px;
    height: 20px;
}

footer div#footer_flex ul li {
    padding-left: 25px;
}

footer div#footer_flex ul li .mobileBr{
    display: block;
}

footer div#footer_flex ul li:not(.hoursLi):has(> span.mobileHide){
    margin-top: 5px !important;
}